page-home {
  .home {
    background: url("http://reservation.squash-arena.ch:4430/content/images/squashcourt-4f-3699.png")  no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size:cover;}
}

.title-image {
  margin-top: 8px;
  height: 27px;
}
